// Imports
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@600&display=swap");

// Variables
$poppins: "Poppins", sans-serif;
$barlow: "Barlow Condensed", sans-serif;
// color
$primary-color: #fff;
$secondary-color: #000;
$accent-color: #ff7a00;
// $counter-color: rgba(53, 50, 50, 1);
$counter-color: #000;

// Initialise
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  min-height: 100vh;
  width: 100%;
  background-color: $primary-color;
  font-family: $poppins;
  overflow-x: hidden;
}

// Top Nav
#top-nav {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;

  .nav-logo {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
  }

  .nav-toggle {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;

    span {
      width: 3rem;
      height: 3px;
      background-color: $primary-color;
    }

    span:nth-child(2) {
      clip-path: inset(0 0 0 25%);
    }

    span:last-child {
      clip-path: inset(0 0 0 50%);
    }
  }
}

// Bottom Nav
#bottom-nav {
  position: fixed;
  z-index: 999;
  left: 0;
  top: calc(100vh - 8rem);
  height: 8rem;
  width: 100%;
  display: flex;

  .page-ref,
  .nav-pagination {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 5rem;
    color: $primary-color;
  }

  // page ref
  .page-ref {
    span {
      width: 5rem;
      height: 3px;
      background-color: #fff;
      margin-right: 1rem;
    }
  }

  //   nav pagination
  .nav-pagination {
    gap: 1rem;
    span {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      //   background-color: $accent-color;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    span:nth-child(1) {
      border: 2px solid #fff;
    }
    span:nth-child(2) {
      background-color: $accent-color;
    }
  }
}

// Home Page
#home {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #000;

  // home-page
  main {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;

    // home-left, home-right
    .home-left,
    .home-right {
      overflow: hidden;
      width: 50%;
    }

    // home-left
    .home-left {
      background: $secondary-color;
      color: $primary-color;
      text-shadow: 5px 5px 0 $accent-color;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 8rem;

      span {
        line-height: 1;
      }
    }

    // home-right
    .home-right {
      position: relative;
      height: 100%;

      .hoverlay {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: #000;
      }

      img {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
        object-position: center;
        filter: grayscale(75%);
      }

      //   home-content
      .home-content {
        position: absolute;
        bottom: 0;
        left: 0;

        display: flex;
        flex-direction: column;
        gap: 1rem;

        h1 {
          position: relative;

          span {
            font-weight: 600;
            display: inline-block;
            position: relative;
            text-shadow: 5px 5px 0 $accent-color;
          }
        }

        background: linear-gradient(
          180deg,
          transparent 0%,
          $counter-color 100%
        );

        padding: 0 5rem 3.5rem 5rem;
        // display: flex;
        // flex-direction: column;
        color: $primary-color;

        h1 {
          font-size: 3rem;
        }

        p {
          font-size: 1.2rem;
        }

        .social-menu {
          display: flex;
          margin-top: 1rem;
          gap: 1rem;
          font-size: 2rem;
        }
      }
    }
  }
}

// About Page
#about {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: $primary-color;

  main {
    display: flex;
  }
  .about-left,
  .about-right {
    width: 50%;
  }

  //   About Left
  .about-left {
    position: relative;
    height: 100vh;
    background-color: #000;
    // padding: 5rem 10rem;
    .abt-img {
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 100%;
      // border-radius: 5%;
      // box-shadow: 5px 5px 0 $secondary-color;

      .img-wrap {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        //   filter: grayscale(50%) brightness(90%);
      }

      .wrap-1,
      .wrap-2 {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }

      .wrap-1 {
        background-color: $accent-color;
      }
      .wrap-2 {
        background-color: $secondary-color;
      }
    }
  }

  //   about right
  .about-right {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 5rem 10rem 5rem 5rem;

    h1 {
      font-size: 5rem;
      font-weight: bold;
      text-shadow: 5px 5px 0 $accent-color;
    }

    p {
      font-size: 1.2rem;
      color: rgb(22, 22, 22);
    }

    #portfolio-btn {
      margin: auto 0;
      text-decoration: none;
      color: #fff;
      background-color: $accent-color;
      width: fit-content;
      padding: 0.5rem 1.5rem;
      box-shadow: 5px 5px 0 $secondary-color;
    }

    .abt-wrap {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: #000;
    }
  }
}

// Skills
#skills {
  position: relative;
  width: 100%;
  // min-height: 100vh;
  padding: 10rem 10rem 0 10rem;

  h1 {
    font-size: 5rem;
    text-shadow: 5px 5px 0 $accent-color;
  }

  .skills-container {
    position: relative;

    width: 100%;
    display: grid;
    grid-template-areas: "skill skill skill" "skill skill skill" "skill skill skill";
    grid-row-gap: 2rem;
    .skill {
      padding: 2rem;
      margin-top: 1rem;
      span {
        position: relative;
        display: inline-block;
        width: 100%;
        height: 10px;
        border-radius: 5px;
        background: rgb(255, 122, 0);
        background: linear-gradient(
          90deg,
          rgba(255, 122, 0, 1) 0%,
          rgba(53, 50, 50, 1) 100%
        );
      }
    }
  }
}

// Projects
#projects {
  position: relative;
  width: 100%;
  // min-height: 100vh;
  padding: 10rem;

  h1 {
    font-size: 5rem;
    text-shadow: 5px 5px 0 $accent-color;
  }

  .projects-container {
    position: relative;
    min-height: 100vh;
    width: 100%;
    padding-bottom: 10rem;
    display: grid;
    grid-template-areas: "skill skill" "skill skill" "skill skill";

    .project {
      position: relative;
      padding: 2rem;
      height: 25rem;
      margin-top: 1rem;

      .number {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 20rem;
        // font-weight: 800;
        font-family: $barlow;
        color: #e5e5e5;
      }

      .project-content {
        position: absolute;
        z-index: 2;
        top: 12rem;
        left: 20%;

        h2 {
          font-size: 3rem;
          font-weight: bold;
          color: $accent-color;
        }
      }
    }
  }
}

// Footer
#footer {
  position: relative;
  width: 100%;
  // min-height: 100vh;

  footer {
    min-height: 100vh;
    width: 100%;
    display: flex;

    .footer-left,
    .footer-right {
      width: 50%;
    }

    .footer-left {
      background-color: $secondary-color;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: $barlow;
      font-size: 5rem;
      color: $primary-color;
      text-shadow: 5px 5px 0 $accent-color;
    }

    .footer-right {
      padding: 10rem;
      padding-left: 5rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      input,
      textarea {
        border: none;
        height: 2.5rem;
        background-color: #e5e5e5;
        padding: 0.5rem;
        font-family: $poppins;
        font-size: 1rem;

        &:focus {
          outline: none;
        }
      }

      textarea {
        height: 5rem;
        resize: none;
        &::-webkit-scrollbar {
          display: none;
        }
      }

      #msg-btn {
        margin-left: auto;
        text-decoration: none;
        color: #fff;
        background-color: $accent-color;
        width: fit-content;
        padding: 0.5rem 1.5rem;
        box-shadow: 5px 5px 0 $secondary-color;
      }

      .social-menu {
        display: flex;
        margin-top: 1rem;
        gap: 1rem;
        font-size: 2rem;
        color: $accent-color;
      }
    }
  }
}

// Main Nav
#main-nav {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: $secondary-color;
  transition: all 250ms ease;
  transform: translateY(-100%);
  opacity: 0;

  .toggle-switch {
    position: absolute;
    z-index: 1000;
    transform-origin: 50% 50%;
    top: 5%;
    right: 5%;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    span {
      position: absolute;
      display: inline-block;
      width: 3rem;
      height: 3px;
      background-color: #fff;

      &:first-child {
        transform: rotateZ(45deg);
      }
      &:last-child {
        transform: rotateZ(-45deg);
      }
    }
  }

  .nav-left,
  .nav-right {
    position: relative;
    height: 100%;
    width: 50%;
    padding: 5rem;
  }

  .nav-left {
    ul {
      position: relative;
      width: 100%;
      height: 100%;
      list-style-type: none;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      a {
        text-decoration: none;
        font-size: 3rem;
        color: $primary-color;
        transition: text-shadow 250ms ease;

        &:hover {
          text-shadow: 5px 5px 0 $accent-color;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #top-nav {
    padding: 1rem;
  }

  #home main {
    .home-left {
      display: none;
    }

    .home-right {
      width: 100%;
      height: 100%;

      img {
        object-position: 25%;
      }

      .home-content {
        padding: 1rem 1rem 2rem 1rem;

        h1 {
          font-size: 2rem;
        }
      }
    }
  }

  #about main {
    .about-left {
      display: none;
    }

    .about-right {
      width: 100%;
      height: 100%;
      padding: 2rem 1rem;

      h1 {
        font-size: 3.5rem;
      }

      #portfolio-btn {
        margin-top: 1rem;
      }

      .abt-wrap {
        display: none;
      }
    }
  }

  #skills {
    width: 100%;
    padding: 2rem 1rem;
    margin: 0;

    h1 {
      font-size: 3rem;
    }

    .skills-container {
      grid-template-areas: "skill" "skill" "skill" "skill" "skill" "skill" "skill" "skill" "skill";
      .skill {
        width: 100%;
      }
    }
  }

  #projects {
    padding: 2rem 1rem;

    h1 {
      font-size: 3rem;
    }

    .projects-container {
      margin: 0;
      padding: 0;
      grid-template-areas: "project" "project" "project" "project" "project" "project" "project" "project" "project";
      // grid-row-gap: 1rem;

      .project {
        .number {
          font-size: 20rem;
        }

        .project-content {
          h2 {
            font-size: 2rem;
          }
        }
      }
    }
  }

  #footer {
    min-height: 100vh;
    display: grid;
    place-items: center;
    margin-top: 10vh;
    footer {
      position: relative;
      flex-direction: column;

      .footer-left {
        padding: 1rem;
        position: sticky;
        z-index: -1;
        order: 2;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      .footer-right {
        padding: 3rem 1rem;
        order: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #fff;

        h1 {
          text-align: center;
        }

        .social-menu {
          justify-content: space-around;
          margin-bottom: 3rem;
        }

        #msg-btn {
          margin: 0 auto auto auto;
        }
      }
    }
  }
}
